const config = {

  commandChar: '!',

  github: {
    auth: {
      type: 'oauth',
      token: '',
    },
    owner: 'owner-of-repo',
    repo: 'name-of-repo',
    connect: {
        // optional
      debug: true,
      protocol: 'https',
      host: 'api.github.com',
      pathPrefix: '/api/v3',
      headers: {
          'user-agent': ''
      },
      followRedirects: false,
      timeout: 5000
    }
  },

  twitch: {
    connect: false,
  },

  slack: {
    connect: false,
  },

  irc: {
    server: 'localhost',
    userName: 'kate',
    realName: 'Kate Libby',
    port: 6667,
    channels: ['#general','#random'],
  },

  giphy: {
    key: ''
  },

  wunderground: {
    key: ''
  },
};

module.exports = config;
