const config = {

  commandChar: '!',

  app: {
    nsfw: false // true allows nsfw content
  },

  slack: {
    token: process.env.SLACK_TOKEN || '',
    client_id: process.env.SLACK_CLIENT_ID || '', // used for production
    client_secret: process.env.SLACK_CLIENT_SECRET || '', // used for production
  },

  irc: {
    server: '',
    port: 6667,
    userName: 'kate',
    realName: 'Kate Libby',
    localAddress: null,
    debug: false,
    showErrors: false,
    autoRejoin: false,
    autoConnect: true,
    channels: ['#general', '#dangerroom'],
    secure: false, // very important for connecting
    selfSigned: false,
    certExpired: false,
    floodProtection: false,
    floodProtectionDelay: 1000,
    sasl: false,
    retryCount: 0,
    retryDelay: 2000,
    stripColors: false,
    channelPrefixes: '&#',
    messageSplit: 512,
    encoding: ''
  },

  // Giphy API key
  giphy: {
    key: KL_GIPHY_API_KEY || '',
  },

  // Weather Underground API key
  // only allows 500 calls a day and 10 a minute
  wunderground: {
    key: process.env.KL_WU_API_KEY || '',
  },

  // World Coin Index API Key
  // get your key from
  // https://www.worldcoinindex.com/apiservice/
  worldcoinindex: {
    key: process.env.KL_WCI_API_KEY || '',
  }
};

module.exports = config;
