const config = {

  commandChar: '!',

  app: {
    nsfw: false // true allows nsfw content
  },

  slack: {
    token: process.env.SLACK_TOKEN || '',
  },

  irc: {
    server: '',
    port: 6667,
    userName: 'kate',
    realName: 'Kate Libby',
    localAddress: null,
    debug: false,
    showErrors: false,
    autoRejoin: false,
    autoConnect: true,
    channels: ['#general', '#dangerroom'],
    secure: false, // very important for connecting
    selfSigned: false,
    certExpired: false,
    floodProtection: false,
    floodProtectionDelay: 1000,
    sasl: false,
    retryCount: 0,
    retryDelay: 2000,
    stripColors: false,
    channelPrefixes: '&#',
    messageSplit: 512,
    encoding: ''
  },

  wunderground: {
     key: '',
  },
};

module.exports = config;
