[Unit]
Description=Katelibby - A powerful bot

[Service]
ExecStart=/usr/bin/node /srv/service/katelibby/bin/start
WorkingDirectory=/srv/service/katelibby/bin/start
Restart=always
RestartSec=10
LimitNOFILE=50000

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=katelibby

User=katelibby
Group=katelibby
#Environment=NODE_ENV=production PORT=1337

[Install]
WantedBy=multi-user.target
